.footer {
    bottom : 0;
    position : relative;
    height : 100px;
    background-color: black;
    width: 100%;
    display: flex

  }
  .flex-footer {
    flex : 50%;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  
  .flex-icon-container {
    display: flex;
    flex : 10%;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
  }

  .message {
    flex : 90%;
    text-align: right;
    font-weight: bold;
    margin-right: 2%;
    font-size: 1.5em;
  }
  .icon {
    width: 30%;
    justify-content: space-around;
  }
  .logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
  }

  .resizeLogo {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain
  }

  .footer-text{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .contactFlex {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    background-size: auto;
    background-image: url("https://st2.depositphotos.com/1826664/5444/i/950/depositphotos_54440289-stock-photo-contact-us-background-pattern-blue.jpg");
       /* margin-bottom: 160px; */
  }

  .contact-item {
    
    flex : 50%;
    padding :5%;
    /* height: 100%; */
    align-items: center;
  }

  .contact-content {
    background-color: #ffffff;
    opacity: 0.7;
    border : solid;
    padding: 10px;
    border-radius: 2em;
    height: 100%;
    
  }

  .text {
    height: 90px;
    width: 80%;
    
  }

  .centerAlign {
    text-align: center
  }

  .topPadding {
    padding-top : 20px;
  }

  .font {
    font-size: 0.5em;
  }