* {
    box-sizing: border-box;
    font-family: Arial;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(115, 98, 161);
    border: 3px solid black;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    text-decoration: none;
    color: rgb(115, 98, 161);
    padding: 1rem;
    display: block;
  }
  
  .navbar-links li a:hover {
    color: tomato;
  }
  
  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(6, 30, 46);
  }
  
  .brand-logo {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  
  /*CSS used for Travelblog.js */
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  
  .flex-item {
    background-color: #ffffff;
    flex: 25%;
    margin-bottom: 50px;
    font-size: 18px;
  }
  